.cart{
    padding-top: 4rem;
}
.container {
}
.cart__title {
}
.form-cart {
    margin-top: 2.6rem;
    display: flex;
}
.form-cart__left {
    width: 80rem;
}
.form-cart__item {
    display: flex;
    // justify-content: space-between;
    margin-bottom: 1.2rem;
    padding-bottom: 2.4rem;
    align-items: center;
    border-bottom: 2px solid  rgba(57, 116, 121, 0.20);
}
.form-cart__item-img{
    margin-left: 2rem;
}
.form-cart__item-input {
    width: 0;
    height: 0;
    background-color: transparent;
}
.form-cart__item-checkbox {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #397479;
}
.form-cart__item-input:checked+.form-cart__item-checkbox{
    background-color: #397479;
    background-image: url('../images/icon/Check.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.form-cart__box-title {
    margin-bottom: .5rem;
    font-weight: 500;
}
.form-cart__box-subtitle {
    color: rgba(35, 31, 32, 0.60);
}
.form-cart__box-link,
.cart__delete {
    position: relative;
    display: block;
    font-size: 1.4rem;
    color: #397479;
}
.form-cart__box-link{
    margin-top: 7rem;
    margin-left: 3rem;
}
.cart__delete{
    margin-top: 2.6rem;
    margin-left: 3rem;
}
.form-cart__box-link::before,
.cart__delete::before{
    position: absolute;
    content: '';
    width: 3rem;
    height: 3rem;
    background: url('../images/icon/card-delete.svg') no-repeat;
    left: -30px;
    top: -3px;
}

.pro-qty {
    width: 12rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.quantity {
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    display: block;
    border-radius: 12px;
    border: 2px solid  rgba(57, 116, 121, 0.20);
    background:  #FFF;
    text-align: center;
    font-size: 1.4rem;
}

.form-cart__item-price--old {
    color: #C64070;
    text-align: center;
    display: block;
    font-weight: 300;
    text-decoration: line-through;
}


.form-cart__rigth {
    width: 32rem;
    margin-left: 7rem;
}
.form-cart__promocode-title {
    margin-bottom: .5rem;
    color: rgba(35, 31, 32, 0.80);
    font-weight: 500;
}
.form-cart__promocode {
    display: flex;
    width: 100%;
    margin-bottom: 2.4rem;
}
.form-cart__promocode-input {
    width: 28rem;
    padding-left: 1rem;
    padding-right: 2rem;
    height: 5rem;
    border-radius: 12px;
    border: 2px solid  rgba(57, 116, 121, 0.20);
    background:  #FFF;
}
.form-cart__promocode-input::placeholder{
    color: rgba(35, 31, 32, 0.40);
}

.form-cart__promocode-btn {
    height: 5rem;
    border-radius: 12px;
    background:  #397479;
    color: #fff;
    border: none;
}
.card-order {
    padding: 2.8rem;
    border-radius: 12px;
    border: 2px solid  rgba(57, 116, 121, 0.20);
}

.card-order__item {
    margin-bottom: 1.8rem;
    display: flex;
    justify-content: space-between;
}
.card-order__item-title {
    font-size: 1.4rem;
}
.card-order__item-price {
    font-size: 2.4rem;
    font-weight: 700;
}
.card-order__item-price.card-order__item-price--sale{
    font-weight: 400;
    color: #C64070;
}
.card-order__btn {
    margin-bottom: 2.8rem;
    width: 26rem;
    height: 5.2rem;
    line-height: 5.2rem;
    background-color: #397479;
    color: #fff;
    border-radius: 12px;
    text-align: center;
    border: none;
}
.card-order__deliver {
    position: relative;
    width: 100%;
    font-size: 1.6rem;
    padding-top: .8rem;
    padding-bottom: .8rem;
    border-radius: 12px;
    text-align: center;
    border: 2px solid rgba(57, 116, 121, 0.20);
    background-color: rgba(57, 116, 121, 0.20);
}
.card-order__deliver::before{
    position: absolute;
    content: '';
    width: 3rem;
    height: 3rem;
    background: url('../images/icon/product-delivery.svg') no-repeat;
    left: 3px;
    top: 10px;
}
.form-cart__inner{
    margin-left: 5rem;
    display: flex;
}
